@import '../styles/_variable.less';


:host {
  border: 1px solid @color-primary-black;
  display: block;
  margin: 0;
  padding: 0;
  border-radius: 10px;
  box-sizing: border-box;
}

.skeleton-card {
  height: @skeleton-height;
  width: @skeleton-width;
  box-shadow: 10px 10px 5px @box-shadow-color;
  border-radius: 10px;
  background-color: #f0f0f0;
  animation: pulse 1.5s infinite alternate;

  @keyframes pulse {
    from {
      opacity: 0.6;
    }

    to {
      opacity: 1;
    }
  }
}