.grid-container {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-rows: auto;
    grid-auto-flow: row;
    grid-gap: 20px;
    padding: 20px;
    align-items: stretch;
}

.page-header {
    text-align: center;
}

.service-down-message {
    text-align: center;
    color: red;
    font-weight: bold;
}