@import '../styles/_variable.less';

body.modal-open {
  overflow: hidden;
}

figure {
  display: block;
  width: 500px;
  height: 500px;
  border-radius: 50%;
  text-align: center;
  margin-right: 10px;
  background: #e9ecef;
  line-height: 1.7em;
  box-shadow: 5px 2px 9px 8px @box-shadow-color;
}

.modal-ibu-wrapper {
  position: absolute;
  top: 33%;
  margin-left: 50px;
}

figure img {
  height: auto;
  width: 80px;
  padding-top: 60px;
}

.modal-image-wrapper {
  display: block;
  width: 450px;
  height: 450px;
  border-radius: 50%;
  text-align: center;
  margin-right: 25px;
  background: #45688a;
  line-height: 1.7em;
  margin-left: 25px;
  margin-top: 25px;
  clip-path: polygon(0% 0%, 100% 0%, 100% 95%, 0% 95%);
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: @color-primary-light;
  justify-content: center;
  align-items: center;
  z-index: 1;

  .modal-content {
    display: flex;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px @box-shadow-color;
  }

  .modal-container {
    display: flex;
    padding: 80px 15px 30px 15px;
    width: 100%;
    height: 100%;
  }

  .modal-image {
    width: 80px;
    padding-top: 60px; 
  }

  .modal-description-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 60%;
  }

  .modal-description {
    color: black;
  }

  .modal-name {
    margin-top: 2rem; 
    color: black; 
  }

  .close {
    position: absolute;
    right: 32px;
    top: 32px;
    width: 32px;
    height: 32px;
    opacity: 0.3;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 @color-primary-light;
    opacity: .5;
    border-radius: 20px; 
  }

  .close:hover {
    opacity: 1;
  }

  .modal-dropdown-wrapper {
   align-self: end;
   padding-right: 3rem;
   height: 20px;
  }
  .modal-figure-wrapper {
    width: 100%;
  }

}
/*Ipad mini */
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait) {
  .modal-image-wrapper {
    display: block;
    width: 350px;
    height: 350px;
  }
  figure {
    width: 400px;
    height: 400px;
    margin-right: 0px;
  }
  figure img {    
    height: auto; 
    width: 80px;
    padding-top: 10px;
  }
  .modal-ibu-wrapper {
    position: absolute;
    top: 28%;
    margin-left: 50px;
  }
  .modal-overlay .modal-description-wrapper {
    height: 46%;
  }
  .modal-overlay .modal-image {
    padding-top: 10px;
   }
}
/*Ipad mini */
@media all and (device-width: 1024px) and (device-height: 768px) and (orientation:landscape) {
  .modal-ibu-wrapper {
    top: 38%;
  }
  .modal-overlay .modal-description-wrapper {
    height: 75%;
  }
}

/*Ipad air */
@media all and (device-width: 820px) and (device-height: 1180px) and (orientation:portrait) {
  .modal-overlay .modal-description-wrapper {
    height: 48%;
  }
  .modal-ibu-wrapper {
    top: 26%;
  }
}
@media all and (device-width: 1180px) and (device-height: 820px) and (orientation:landscape) {
  .modal-ibu-wrapper {
    top: 35%;
  }
  .modal-overlay .modal-description-wrapper {
    height: 70%;
  }
}

/*Ipad pro */
@media all and (device-width: 1024px) and (device-height: 1366px) and (orientation:portrait) {
  .modal-overlay .modal-description-wrapper {
    height: 42%;
  }
  .modal-ibu-wrapper {
    top: 25%;
  }
}
@media all and (device-width: 1366px) and (device-height: 1024px) and (orientation:landscape) {
  .grid-container {
    grid-template-columns: repeat(7, 1fr); /* Adjust based on your design */
  }
}