<div class="modal-content modal-overlay">
    <button type="button" class="close" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <div class="modal-container">
        <figure class="modal-figure">
            <div class="modal-image-wrapper">
                <img class="modal-image" src="#beerImageUrl" alt="#beerName" load="lazy">
            </div>
            <figcaption class="modal-abv">#beerAbv%
            </figcaption>
            <h2 class="modal-name">#modalName</h2>
            <div class="modal-ibu-wrapper">
                <div>IBU
                </div>
                <div class="modal-ibu"></div>
            </div>
        </figure>
        <div class="modal-description-wrapper">
            <h3 class="modal-description"></h3>
            <div class="modal-dropdown-wrapper"></div>
        </div>
    </div>
</div>
