@import '../styles/_variable.less';
@import '../styles/_theme.less';

:host {
    position: relative;
    display: inline-block;
}

.dropdown-content {

    ul,
    ul ul {
        list-style-type: none;
    }
}

.dropdown-content {
    position: relative;
    list-style-type: none;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    width: 80px;
}

.dropdown-list {
    padding: 0;
}

.dropdown-item {
    display: block;
    padding: 0.5rem;
    position: relative;
}

.dropdown-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.dropdown-button:hover,
.dropdown-button:focus {
    background-color: #f0f0f0;
}

.sub-dropdown-list {
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
}

.sub-dropdown-item {
    padding: 0.5rem;
}

.sub-dropdown-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.sub-dropdown-button:hover,
.sub-dropdown-button:focus {
    background-color: #f0f0f0;
}

.dropdown-icon {
    width: 10px;
    height: 10px;
}

.order-button {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.order-options {
    padding: 0;
    margin: 0;
}

.list-options-button {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.order-suboptions {
    position: absolute;
    margin-top: -20px;
    left: 50%;
    z-index: -1;
}