.ibu-color1 {
    background-color: #5f778f;
}

.ibu-color2 {
    background-color: #334e69;
}

.ibu-color3 {
    background-color: #50797b;
}

.ibu-color4 {
    background-color: #4e5a66;
}

.ibu-color5 {
    background-color: #455769;
}

.ibu-color6 {
    background-color: #2d363d;
}

.ibu-color7 {
    background-color: #245d92;
}

.ibu-color8 {
    background-color: #182e45;
}

.ibu-color9 {
    background-color: #173c61;
}