
@import '../styles/_variable.less';
@import '../styles/_theme.less';


:host {
  border: 1px solid @color-primary-black;
  display: block;
  margin:0;
  padding: 0;
  border-radius: 10px;
  box-sizing: border-box;
}

.beer-card {
  height: 100%;
  box-shadow: 10px 10px 5px @box-shadow-color;
  border-radius: 10px;

  &__img-container {
  width: 200px;
  height: 200px;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  }

  &__image {
    height: 100%;
    width: auto;
    object-fit: contain;
    max-width: 80px;
  }

  &__name {
    text-align: center;
  }

  &__ibu {
    padding-top: 10px;
    padding-left: 10px;
  }

  &__triangle {
    position: relative;
  }

  &__triangle::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 80px 80px 0;
    border-color: transparent @color-primary-blue transparent transparent;
    border-radius: 0 10px 0 0;
  }
  
  &__triangle::after {
    content: attr(data-abv); 
    position: absolute;
    top: 5px; 
    right: 5px; 
    color: @color-primary-light; 
  }

  &__rect-container {
    position: relative;
    top: 20%;
    top: 60%;
    height: 40px;
    background-color: @color-primary-blue;
    width: 50%;
  }

  &_rect-container::before,
  &__rect-container::after {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 0.5em; 
    height: 0.5em; 
    z-index: 1; 
    left: 0;
  }
}
/*Ipad mini */
@media all and (device-width: 1024px) and (device-height: 768px) and (orientation:landscape) {
  .beer-card__ibu {
    padding-top: 0cqb;
    padding-left: 10px;
  }
}
