<div class="beer-card">
    <div class="beer-card__skeleton"></div>
    <div class="beer-card__triangle"></div>
    <div class="beer-card__rect-container">
        <div class="beer-card__ibu">IBU: #beerIbu</div>
    </div>
    <div class="beer-card__img-container">
        <img class="beer-card__image" src="#beerImageUrl" alt="#beerName" loading="lazy">
    </div>
    <div class="beer-card__details">
        <h2 class="beer-card__name"></h2>
    </div>
</div>